<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Alertcontacts</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>alertcontacts</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>alertcontact.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alertcontact</string>
			</array>
		</dict>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>AlertContact a besoin d'accéder à votre localisation en permanence pour vous alerter des zones de danger même quand l'application est fermée.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AlertContact a besoin d'accéder à votre localisation pour vous alerter des zones de danger à proximité.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>AlertContact a besoin d'accéder à votre localisation en permanence pour vous alerter des zones de danger même quand l'application est fermée.</string>
	<key>MAPS_API_KEY_IOS</key>
	<string>$(MAPS_API_KEY_IOS)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>background-processing</string>
	</array>
</dict>
</plist>
